@import "../base-style";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	text-align: center;
	margin: 8% 0;
}

.main-title {
	font-size: 4rem;
	font-weight: bold;
	color: $text-color;
	margin: 0;

	.accent-text {
		color: $primary-color;
	}
}

.description-text {
	max-width: 30rem;
	line-height: 1.5;
	font-size: 1rem;
	color: $text-grey;
    margin: 0;
}

.bold-accent-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: $primary-color;
}

@media screen and (max-width: 564px) {
    .main-title {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 388px) {
    .main-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 298px) {
    .main-title {
        font-size: 1.2rem;
    }
}

