@import "../base-style";

.profile_page {
	@include main-content-bg-sm();
}

.business-update-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
    padding: 1.2rem 0;
	margin-top: .4rem;

	.text-input {
		background: white;
		width: 90%;
	}
    
	>button {
		margin-bottom: 0.4rem;
		width: 90%;
	}
}


/**MEDIA QUERY FOR THE PROFILE PAGE*/
@media screen and (min-width: 1000px) {
	.profile_page {
		@include main-content-bg-lg();
	}
}