//convert static pixels values to rem, aids manual calculations
@function toRem($value) {
    $remValue: (calc($value / 16)) + rem;
    @return $remValue;
}

/*custom styling for the background image containers*/
@mixin bg-image-props {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*custom text styling for table like rows*/
@mixin table-bar-text {
    font-size: 1rem;
	line-height: .8rem;
	font-weight: normal;
}

/*custom styling for links like buttons*/
@mixin link-btn {
    text-align: center;
    padding: 8px 16px !important;
    border-radius: 5px !important;
    background: $primary-color;
    color: white;
}

@mixin main-content-bg-lg {
    width: 80%;
    margin-left: 5rem;
    margin-top: 2.2rem;
    background: white;
    padding: 0 2rem 2rem 2rem;
    border-radius: .8rem;
}

/*custom background styling for the main sections in the auth layout: for small screens*/
@mixin main-content-bg-sm {
    width: 90%;
    margin-top: 4.6rem;
    background: white;
    padding: 0 .4rem 2rem .4rem;
    border-radius: .8rem;
}
