@import "../../base-style";

/** STYLES FOR THE LOGO*/
.logo-container {
	position: relative;
	z-index: 50;
	height: 100%;
	width: max-content;
	place-items: center;
	overflow: hidden;
	border-radius: 0 0 0 1.5rem;
	transition: transform 0.3s ease-in-out;
}

.logo-image {
	height: auto;
	width: 8rem;
}

.logo-container:hover {
	transform: scale(1.2);
}

.link_Button {
	@include link-btn();
}

.link_outlined {
	@include link-btn-outlined();
}

/**MEDIA QUERY STYLES FOR THE CUSTOM BUTTON */

@media screen and (max-width: 248px) {
	.custom_button {
		font-size: 0.7rem !important;
		
		&:disabled {
			width: toRem(151.406);
		}
	}

	.logo-image {
		height: 2rem;
		width: 5rem;
	}
}

/**STYLES FOR THE HAMBURGER MENU */

.wrapper {
	text-align: center;
}

.hamburger-icon {
	color: $primary-color;
}

.hamburger-icon-cancel {
	color: $primary-color;
	z-index: 5000 !important;
}



.hamburger-menu {
	padding-left: 1rem !important;

	//style the menu drawer
	>div:nth-child(3) {
		background: $secondary-color !important;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 1rem;
		padding-left: 1rem !important;
		padding-right: .7rem !important;
		margin: 0 !important;
		height: auto;
		gap: 1.7rem;

		li {
			list-style-type: none;
	
			a {
				color: $primary-color;
			}
		}
	}

}

.user-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2px;
	gap: 2px;
	font-weight: bold;
}

.menu-item {
	margin-top: 2px;
	font-weight: bold;
}

/**MEDIA QUERY STYLES FOR THE HAMBURGER MENU */
@media screen and (min-width: 768px) {
	.hamburger-menu {
		display: none;
	}
}

/**STYLES FOR THE CUSTOM SWITCH */

.status {
	width: fit-content;
	padding: .2rem .3rem;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.6em;
	border: none;
}

.status::before {
	margin-right: 0.9rem;
	width: 0.8rem;
	height: 0.8rem;
	content: "";
	border-radius: 50%;
	display: block;
}

.status-paid {
	color: #34d59d;
	background: hsla(159, 65%, 59%, 0.06);
}

.status-paid::before {
	background: #34d59d;
}

.status-pending {
	color: #ff9000;
	background: hsla(34, 100%, 50%, 0.06);
}

.status-pending::before {
	background: #ff9000;
}

.status-draft {
	color: #888eaf;
	background: hsla(231, 73%, 93%, 0.06);
}

.status-draft::before {
	background: #888eaf;
}
