@import "../../base-style";

/**Styling the dashboard page here, since style is minimal*/
.dashboard_page {
	@include main-content-bg-sm();
}

.container {
	padding: .8rem;
	border-radius: 0.8rem;
	width: 96%;
	margin: 0 auto;
	.cards-greetings {
		font-size: 0.8rem;
		color: $text-grey;
        display: flex;
        align-items: center;
        gap: .3rem;
        margin-bottom: .2rem;
	}

	h3 {
		font-size: 1.4rem;
		letter-spacing: 3px;
		font-weight: normal;
		margin: 0;
	}

	.container_wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 1rem 1.2rem;
		justify-items: center;
		margin-top: 0.4rem;
		gap: 1.8rem;
		overflow-x: scroll;
		overflow-y: hidden;
		border-radius: 0.8rem;
		background: $secondary-color;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.dashboard-table-container {
	table {
		thead {
			tr {
				th {
					text-align: left !important;
				}
			}
		}
		tbody {
			tr {
				td {
					margin-right: 14px !important;
					min-width: 4.6rem !important;
					text-align: left !important;
				}
			}
		}
	}
}

/**MEDIA QUERY FOR THE DASHBOARD PAGE*/
@media screen and (min-width: 1000px) {
	.dashboard_page {
		@include main-content-bg-lg();
	}
}

@media screen and (max-width: 484px) {
	.container {
		padding: 0.7rem;
	}
}

@media screen and (max-width: 280px) {
	.container {
		padding: 0.8rem 0.4rem;
	}
}
