@import "../../base-style";

/**Styling the invoice page here, since style is minimal*/
.invoice_page {
    @include main-content-bg-sm();
}

/**STYLES FOR THE INVOICE HEADER BEGINS HERE*/
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: clamp(1.6rem, 2vw, 2.1rem);
	font-weight: bold;
	color: $text-grey;
	margin-bottom: 0.5rem;
}

.count {
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.5rem;
	color: var(--color-grayish-purple);
}

.left-area {
	display: flex;
	align-items: center;
}

.invoice-detail-card {
	.invoice-main-info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 0;

		.main-client-info,
		.invoice-dates {
			display: flex;
			flex-direction: column;
			gap: .6rem;
			align-items: flex-start;
		}

		.main-client-info {
			.sub-info {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: .5rem;
			}
		}
		.invoice-dates {
			.date-sub-info {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: .5rem;
			}
		}
	}
}
/**MEDIA QUERY FOR THE INVOICE PAGE*/
@media screen and (min-width: 1000px) {
    .invoice_page { 
        @include main-content-bg-lg();
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
		gap: .5rem;
        align-items: flex-start;
    }

	.invoice-detail-card {
		.invoice-main-info {
			display: grid;
			grid-template-columns: 1fr;
			gap: .6rem;
			padding: 1rem 0;
	
			.main-client-info,
			.invoice-dates {
				display: flex;
				flex-direction: column;
				gap: .6rem;
				align-items: flex-start;
			}
	
			.main-client-info {
				.sub-info {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: .5rem;
				}
			}
			.invoice-dates {
				.date-sub-info {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: .5rem;
				}
			}
		}
	}
}
