@import "../../base-style";

.invoice-container {
	padding: .4rem;
	border-bottom: 1px solid rgba(158, 152, 152, 0.945);
	transition: transform 0.2s ease;
	cursor: pointer;
	margin-top: .4rem;
}

.invoice-container:hover,
.invoice-container:focus {
	border: $primary-color;
	padding: .4rem;
}

.desktop-version {
	display: none;
}

.about {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: .3rem;
}

.id,
.amount,
.receiver,
.date {
	@include table-bar-text();
    color: $text-color;
}

.id span {
	color: $icon-color;
}

.information {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	.info-item {
		flex: 1 1 360px;
	}
}


@media screen and (min-width: 750px) {

	.invoice-container:hover,
	.invoice-container:focus {
		border: 1px solid $primary-color;
		border-radius: 1em;
		padding: .4rem;
	}

    .amount {
		margin: 0;
	}

	.mobile-version {
		display: none;
	}

	.desktop-version {
		display: grid;
		grid-template-columns: 5% 28% 28% 18% 13% 7%;
		align-items: center;
		text-align: center;
        padding: 0 .6rem;

		.id,
		.amount {
			text-align: left;
		}
	}
}
