@import "../base-style";

/**STYLES THE BLANK LAYOUT HOC (Higher Order Component) */
.container {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

.main-content {
    min-height: 80svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0;
    flex-grow: 1;
}

/**STYLES THE AUTH LAYOUT HOC (Higher Order Component) */

.auth_container {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.auth_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    z-index: 1;
    background: $secondary-color;
}

@media screen and (max-width: 568px) {
    .auth_main_content {
        padding: .8rem 0;
    }
}